{% extends "layout.html" %}

{% block title %}
My Portfolio
{% endblock %}

{% block main %}
<!--Introduction-->
<div id="home-bg" class="card">
  <div id="intro" class="card-body">
    <h3>Hello, World!</h3>
    <h1>I'm Nichaphat Srinongwaeng,</h1>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <p>
          a software engineering student currently studying in Thailand.
          I'm interested in becoming a <em>data analyst</em>, <em>machine learning engineer</em>,
          <em>mobile</em> or <em>web developer</em>. I'm eager to take on challenges and work on
          innovate projects that contribute to the environment and the welfare of others.
        </p>
      </div>
    </div>
    <a id="more-btn" href="/about" class="btn btn-outline-light">
      SEE MORE
    </a>
  </div>
</div>
{% endblock %}
