<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"></script>
    <link href="/static/styles.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        let navLinks = document.querySelectorAll('.nav-link');
        let currentPath = window.location.pathname;

        navLinks.forEach((navLink) => {
          if (navLink.getAttribute('href') === currentPath) {
            navLink.classList.add("active");
            navLink.style.color = "var(--accent-color)";
          }
        });
      });
    </script>
  </head>

  <body>
    <!--Navigation Bar-->
    <main id="{{ main_id }}">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">My Portfolio</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/projects">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contacts">Contacts</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      {%block main%}{%endblock%}
    </main>

    <footer>
      <p>Made by Nichaphat Srinongwaeng</p>
    </footer>
  </body>

</html>
